<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengxiaoxiao.lizhiedu.auth.mapper.UserRoleMapper">

    <select id="selectRoleListByUserId" resultType="com.chengxiaoxiao.lizhiedu.auth.entity.RoleInfo">
        select r.* from USER_ROLE ur,ROLE r,USER_INFO u where ur.ROLE_ID=r.ID and u.ID=ur.USER_ID and u.DELETE_STATUS=0 and ur.DELETE_STATUS=0 and r.DELETE_STATUS=0 and u.ID=#{userId}
    </select>
</mapper>
